.instance-tabs {
  z-index: 1000;
  -webkit-user-select: none;
  height: 0px;
  transition: all .25s  cubic-bezier(.84,.03,.21,.96);
  &.displaytabs{
    height: 24px;
    .tab-group{
      height: 25px;
      transform: scale(1,1);
    }
  }
  .tab-group {
    transition: all .25s  cubic-bezier(.84,.03,.21,.96);
    height: 0px;
    transform: scale(1,0);
    transform-origin: 50% top;
  }
}

.instance-tabs__add {
  flex-grow: 0 !important;
  flex-basis: 24px;
  &:hover {
    background: #bebebe !important;
    color: #424242 !important;
  }
}

.rdTabCloseIcon {
  position: absolute;
  left: 4px;
  top: 4px;
  display: none;
  border-radius: 2px;
  line-height: 1em;
  width: 14px;
  height: 14px;

  &:hover {
    color: #5b5b5b;
    background: #a2a2a2;
  }
}
