.TabBar {
  text-align: right;
  border-bottom: 1px solid #CCCCCC;
  .item {
    display: inline-block;
    padding: 12px;
    font-weight: bold;
    color: #151414;
    transition: all .3s ease-in-out;
    .icon {
      margin-right: 5px;
    }

    &.is-active {
      background: #D4D1D1;
    }
  }
  .item:hover{
    background: #E3E3E3;
    cursor: pointer;
  }
  .exitredis {
    display: inline-block;
    padding: 12px;
    color: #151414;
    font-weight: bold;
    transition: all .3s ease-in-out;
    .icon {
      margin-right: 5px;
    }
  }
  .exitredis:hover{
    background: #AF5152;
    cursor: pointer;
  }

}
