/*loginContainer 动画效果 */
.loginContainer-appear {
    opacity: 0;
}
.loginContainer-appear.loginContainer-appear-active {
    opacity: 1;
    transition: opacity .5s cubic-bezier(.84,.03,.21,.96);
}
.loginContainer-enter {
    /*transform: translateX(-100%);*/
    opacity: 0;
}

.loginContainer-enter.loginContainer-enter-active {
    /*transform: translateX(0);*/
    opacity: 1;
    transition: opacity .5s cubic-bezier(.84,.03,.21,.96);
}