.redisStatus {
  overflow: auto;
  position: relative;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
}
.container {
	width: 100%;

	.col-lg-3 {
		width: calc((100% / 12) * 3 - 13px);
	}
	.col-lg-4 {
		width: calc((100% / 12) * 4 - 13px);
	}
	.col-lg-5 {
		width: calc((100% / 12) * 5 - 13px);
	}
	.col-lg-6 {
		width: calc((100% / 12) * 6 - 13px);
	}
	.col-lg-7 {
		width: calc((100% / 12) * 7 - 13px);
	}
	.col-lg-8 {
		width: calc((100% / 12) * 8 - 13px);
	}
	.col-lg-9 {
		width: calc((100% / 12) * 9 - 13px);
	}
	.col-lg-10 {
		width: calc((100% / 12) * 10 - 13px);
	}
	.col-lg-11 {
		width: calc((100% / 12) * 11 - 13px);
	}
	.col-lg-12 {
		width: calc((100% / 12) * 12 - 13px);
	}
	@media screen and (max-width: 1024px) {
		.col-md-3 {
			width: calc((100% / 12) * 3 - 13px);
		}
		.col-md-4 {
			width: calc((100% / 12) * 4 - 13px);
		}
		.col-md-5 {
			width: calc((100% / 12) * 5 - 13px);
		}
		.col-md-6 {
			width: calc((100% / 12) * 6 - 13px);
		}
		.col-md-7 {
			width: calc((100% / 12) * 7 - 13px);
		}
		.col-md-8 {
			width: calc((100% / 12) * 8 - 13px);
		}
		.col-md-9 {
			width: calc((100% / 12) * 9 - 13px);
		}
		.col-md-10 {
			width: calc((100% / 12) * 10 - 13px);
		}
		.col-md-11 {
			width: calc((100% / 12) * 11 - 13px);
		}
		.col-md-12 {
			width: calc((100% / 12) * 12 - 13px);
		}	
	}
	
}